<tr class="time-entry <%= cycle("odd", "even") %>">
<% @trOpen = true %>
<% @row += 1 unless isTemplate %>

  <% @editable = true %>



<%if !Setting.plugin_redmine_wktime['wktime_enter_comment_in_row'].blank? &&
	Setting.plugin_redmine_wktime['wktime_enter_comment_in_row'].to_i == 1 %>
	<td class="comments" align="left" style="display:none" >
	<% if @editable %>
		<%=h text_field_tag(isTemplate ? '__template__time_entry[][comments]' : 'time_entry[][comments]',
			 entry.nil? ? '' : entry.comments,:onchange=> "comment();")%>
	<% else %>
		<%=h entry.nil? ? '' : entry.comments%>
	<% end %>
	</td>

<% end %>

<!-- dropdown for currency -->



<%#= render :partial => controller.getCFInRowHTML , :locals => {:entry => entry, :isTemplate => false }%>

<% @wday_index = 1 %>